In [21]:
import pandas as pd
states = pd.read_csv("state_earnings.csv")
states.columns
earnings=states.rename(columns={'SE_A15001_001':'MedianEarnings',"SE_A15001_002":"Less_than_highschool","SE_A15001_003":"Highschool","SE_A15001_004":"Some_college_Associates","SE_A15001_005":"Bachelors","SE_A15001_006":"Graduates_Professional","Geo_QName":"State"})
earnings = earnings[['State','MedianEarnings','Less_than_highschool','Highschool','Some_college_Associates','Bachelors','Graduates_Professional']]
earnings.head()

,State,MedianEarnings,Less_than_highschool,Highschool,Some_college_Associates,Bachelors,Graduates_Professional
0,Alabama,43016,27789,34470,39855,57347,71030
1,Alaska,54606,30804,41338,52261,66719,87052
2,Arizona,46574,30398,36792,43812,61392,78782
3,Arkansas,41013,29018,34070,38116,54457,70376
4,California,51947,29750,38446,46575,75306,105279

In [30]:
import sqlite3
conn = sqlite3.connect('state_data.db')
earnings.to_sql('StateEarnings', conn, if_exists='replace', index=False)

52

In [32]:
## test database
cursor = conn.cursor()
cursor.execute("SELECT MedianEarnings FROM StateEarnings WHERE State='Alabama'")
results = cursor.fetchall()
for row in results:
    print(row)

(43016,)

In [33]:
earnings.to_csv('state_earnings.csv', index=False)