<a href="https://colab.research.google.com/github/rachel1234561/ds2002project/blob/main/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import plotly.express as px

In [5]:
#Link: https://www.socialexplorer.com/tables/ACS2022_5yr/R13772573
earnings_edu = pd.read_csv("earnings_edu.csv")
earnings_edu=earnings_edu.rename(columns={'SE_A15001_001':'Median Earnings',"SE_A15001_002":"Less than high school","SE_A15001_003":"High school","SE_A15001_004":"Some college or Associates","SE_A15001_005":"Bachelors","SE_A15001_006":"Graduates or Professional","Geo_QName":"State"})
earnings_edu=earnings_edu[['State','Median Earnings','Less than high school','High school','Some college or Associates','Bachelors','Graduates or Professional']]
earnings_edu.head()
earnings_edu.to_csv('earnings.csv',index=False)

In [12]:
earnings_edu

,State,Median Earnings,Less than high school,High school,Some college or Associates,Bachelors,Graduates or Professional
0,Alabama,43016,27789,34470,39855,57347,71030
1,Alaska,54606,30804,41338,52261,66719,87052
2,Arizona,46574,30398,36792,43812,61392,78782
3,Arkansas,41013,29018,34070,38116,54457,70376
4,California,51947,29750,38446,46575,75306,105279
5,Colorado,54695,35024,41596,46270,67578,83202
6,Connecticut,57895,29911,42224,48256,74929,95590
7,Delaware,50108,32502,38456,44714,64865,82816
8,District of Columbia,83447,29851,36093,47196,86371,117089
9,Florida,42465,27504,33773,40359,55528,72885
10,Georgia,46475,29323,35289,41362,63174,79138
11,Hawaii,50057,31846,40755,46447,59334,80428
12,Idaho,42572,31438,35563,39831,53104,72375
13,Illinois,51679,31280,37706,44840,68492,87244
14,Indiana,45900,31415,37447,43375,58184,74722
15,Iowa,47358,34302,38538,44484,59313,76582
16,Kansas,46846,32127,36397,42332,58777,71617
17,Kentucky,43131,26748,34705,40626,56922,67410
18,Louisiana,43929,27176,34837,39977,57439,66215
19,Maine,45497,31395,36542,42608,53346,69463
20,Maryland,60523,33131,42031,51386,75924,100856
21,Massachusetts,61481,33558,43492,49670,75687,97033
22,Michigan,46449,28213,35052,41716,62935,81344
23,Minnesota,54113,33094,39969,48085,68397,86029
24,Mississippi,39709,25363,32974,36994,50373,63251
25,Missouri,45564,28861,35770,41476,57944,71695
26,Montana,42352,28127,34557,38789,50037,67703
27,Nebraska,47570,33716,37196,43946,58191,74470
28,Nevada,44736,33455,37646,44153,56829,76920
29,New Hampshire,55273,35190,44342,48389,67542,83256
30,New Jersey,59346,31260,39913,49738,77066,102343
31,New Mexico,40772,24742,32566,37601,52592,73050
32,New York,54195,28885,38037,46546,71006,90705
33,North Carolina,45069,28425,34303,40221,58730,75410
34,North Dakota,50556,35724,41039,47750,57984,72325
35,Ohio,46709,28945,36811,42444,62823,79829
36,Oklahoma,43004,28933,35412,40647,54414,69405
37,Oregon,47487,31465,36722,43260,62127,82086
38,Pennsylvania,49745,30857,37689,44505,64219,83265
39,Rhode Island,52856,33759,41968,47033,66011,86889
40,South Carolina,43707,27171,34412,40647,57312,69675
41,South Dakota,45266,31206,36840,42511,54677,68224
42,Tennessee,44088,28958,34967,40917,57045,72070
43,Texas,47193,28921,35753,44146,65598,82768
44,Utah,49534,34583,39805,44387,59740,87987
45,Vermont,47640,33274,39151,42729,53801,71416
46,Virginia,55077,29521,38032,45948,71046,98170
47,Washington,56778,34397,42614,49205,74844,99777
48,West Virginia,41468,25606,35146,37807,52035,66740
49,Wisconsin,49061,33617,38969,45847,61624,76103
50,Wyoming,47368,31041,40358,43478,56495,70871
51,Puerto Rico,21198,12135,16442,19395,27844,39102

In [ ]:
edu_stats=pd.read_csv('socialexplorer.csv')
#Link:https://www.socialexplorer.com/tables/ACS2023/R13770060
cols=edu_stats.columns
cols2=list(cols[2:53])
edu_stats.drop(cols2,axis='columns',inplace=True)
edu_stats.drop('Geo_FIPS',axis='columns',inplace=True)
edu_stats.drop('SE_A14024_001',axis='columns',inplace=True)
edu_stats=edu_stats.rename(columns={"PCT_SE_A12002_002":"% Less than high school","PCT_SE_A12002_003":" % High school","PCT_SE_A12002_004":"% Some college","PCT_SE_A12002_005":"% Bachelors","PCT_SE_A12002_006":"% Masters","PCT_SE_A12002_007":"% Professional degree","PCT_SE_A12002_008":"% Doctorate","Geo_QName":"State"})
edu_stats

,State,% Less than high school,% High school,% Some college,% Bachelors,% Masters,% Professional degree,% Doctorate
0,Alabama,10.86,30.08,30.17,17.61,8.14,1.84,1.30
1,Alaska,6.77,29.08,31.91,20.06,8.75,1.89,1.53
2,Arizona,10.62,23.35,32.51,20.41,9.35,2.16,1.60
3,Arkansas,10.75,34.17,28.90,16.64,6.75,1.63,1.15
4,California,15.18,20.41,26.92,22.76,10.03,2.73,1.97
5,Colorado,6.72,19.32,27.53,28.30,13.29,2.76,2.09
6,Connecticut,8.24,25.53,23.32,23.10,14.42,3.25,2.13
7,Delaware,8.62,28.46,26.46,21.00,11.37,2.05,2.05
8,District of Columbia,7.25,13.10,13.70,26.91,23.46,10.44,5.14
9,Florida,9.75,26.82,28.51,21.62,9.23,2.56,1.51
10,Georgia,10.66,26.26,27.66,21.29,10.06,2.45,1.61
11,Hawaii,7.01,26.29,29.70,23.15,9.16,3.11,1.59
12,Idaho,7.84,25.93,34.08,21.58,7.43,1.58,1.55
13,Illinois,9.45,25.30,26.97,22.77,11.37,2.54,1.60
14,Indiana,9.56,32.16,28.07,19.12,8.15,1.58,1.36
15,Iowa,6.72,29.94,31.80,20.90,7.42,1.65,1.59
16,Kansas,8.32,25.08,30.78,22.44,10.14,1.92,1.32
17,Kentucky,10.46,33.03,28.66,16.31,8.25,2.18,1.11
18,Louisiana,12.19,33.08,27.74,16.94,6.74,1.97,1.34
19,Maine,5.09,29.36,28.55,23.25,9.81,2.33,1.61
20,Maryland,8.84,23.86,23.55,22.43,15.07,3.16,3.08
21,Massachusetts,8.61,22.81,20.80,25.36,15.84,3.17,3.40
22,Michigan,7.97,27.71,31.65,19.91,9.51,1.87,1.39
23,Minnesota,5.68,23.33,31.00,25.95,9.86,2.41,1.78
24,Mississippi,12.24,29.41,32.81,15.51,7.20,1.58,1.24
25,Missouri,7.98,29.39,29.40,20.21,9.37,2.14,1.51
26,Montana,5.57,27.99,31.82,22.66,8.19,2.24,1.53
27,Nebraska,7.35,24.80,32.57,22.86,8.71,2.24,1.48
28,Nevada,12.26,26.85,32.17,18.68,7.04,1.82,1.18
29,New Hampshire,5.63,27.04,26.59,24.55,11.99,2.37,1.83
30,New Jersey,9.33,25.17,21.72,26.30,12.84,2.81,1.82
31,New Mexico,12.50,25.11,30.74,17.50,9.64,1.94,2.57
32,New York,11.67,24.25,23.44,22.59,13.07,3.19,1.79
33,North Carolina,9.43,24.46,29.32,22.95,10.05,2.09,1.69
34,North Dakota,5.46,24.34,36.64,23.31,7.36,1.38,1.50
35,Ohio,8.12,31.79,28.06,19.31,9.33,1.95,1.44
36,Oklahoma,10.32,30.57,30.40,18.58,7.14,1.77,1.21
37,Oregon,8.02,22.05,32.28,23.47,9.87,2.22,2.09
38,Pennsylvania,7.81,33.08,23.77,20.95,10.23,2.30,1.86
39,Rhode Island,10.43,26.39,24.13,23.15,11.30,2.42,2.18
40,South Carolina,9.80,28.20,29.09,20.45,9.29,1.85,1.33
41,South Dakota,6.55,27.67,32.49,22.92,6.65,2.13,1.60
42,Tennessee,9.87,31.01,27.44,19.31,8.75,2.01,1.60
43,Texas,13.66,24.23,27.87,21.59,9.31,1.93,1.42
44,Utah,6.92,22.16,32.54,24.63,10.13,1.99,1.63
45,Vermont,4.50,27.08,24.75,25.17,13.91,2.59,2.01
46,Virginia,8.55,24.05,24.97,23.96,13.54,2.79,2.13
47,Washington,7.64,21.57,30.34,24.33,11.81,2.39,1.92
48,West Virginia,11.02,39.72,25.28,14.51,6.87,1.35,1.26
49,Wisconsin,6.34,29.46,30.44,22.22,8.41,1.69,1.43
50,Wyoming,6.08,27.49,36.00,19.26,7.79,2.00,1.38
51,Puerto Rico,17.99,27.17,24.06,21.79,6.21,1.35,1.44

In [6]:
inst_lvl=pd.read_csv('Institution-Level.csv')
#Link:https://collegescorecard.ed.gov/data/
inst_lvl=inst_lvl[['INSTNM','STABBR','ICLEVEL','NPT4_PUB','NPT4_PRIV','UGDS','MD_EARN_WNE_5YR']]
inst_lvl.fillna({'NPT4_PRIV': 0}, inplace=True)
inst_lvl.fillna({'NPT4_PUB': 0}, inplace=True)
inst_lvl['AVG_Net_Price']=inst_lvl['NPT4_PUB']+inst_lvl['NPT4_PRIV']
inst_lvl.drop(['NPT4_PUB','NPT4_PRIV'], axis=1, inplace=True)
inst_lvl.drop(inst_lvl[inst_lvl['AVG_Net_Price']==0].index,inplace=True)
inst_lvl.dropna(inplace=True)
inst_lvl.replace({'ICLEVEL': {1: '4 Year',2: '2 Year',3: '<2 Year'}}, inplace=True)
inst_lvl=inst_lvl.rename(columns={'MD_EARN_WNE_5YR':'MD_5YR_SALARY','ICLEVEL':'INST_TYPE','STABBR':'STATE','UGDS':'UNDG_POP','INSTNM':'Name'})
inst_lvl['ROI_overall']=(inst_lvl['MD_5YR_SALARY']/inst_lvl['AVG_Net_Price'])*100
inst_lvl=inst_lvl[['Name','STATE','MD_5YR_SALARY','AVG_Net_Price']]
inst_lvl.to_csv('institution.csv',index=False)

In [11]:
inst_lvl

,Name,STATE,MD_5YR_SALARY,AVG_Net_Price
0,Alabama A & M University,AL,52246.0,14982.0
1,University of Alabama at Birmingham,AL,60738.0,16755.0
3,University of Alabama in Huntsville,AL,78740.0,18240.0
4,Alabama State University,AL,43913.0,13527.0
5,The University of Alabama,AL,62983.0,20888.0
...,...,...,...,...
172,Antelope Valley Community College District,CA,46964.0,1480.0
173,Art Center College of Design,CA,75387.0,48735.0
174,Associated Technical College-Los Angeles,CA,22293.0,23308.0
175,Associated Technical College-San Diego,CA,23348.0,21733.0
176,Azusa Pacific University,CA,65063.0,19968.0